# C++ Build Outputs (Add all the files/folders you want to delete from GitHub)
build/
*.o
*.out
*.exe
# Build directory
build/

# Executables committed without extension
calculate-circle-area
calculation
celsius-to-fahrenheit
gen-rand-num
hello-world
tax-calculation

# Debug Symbol Directories (macOS)
*.dSYM/